<div class="card flex justify-center">
    <p-datepicker [(ngModel)]="date" />
</div>
<div class="row">
    <div class="col-12">
        <table>
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Email</th> 
                </tr>
            </thead>
            <!-- <tbody>
                @for (item of userList; track $index) {
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.fullName}}</td>
                        <td>{{item.emailId}}</td>
                       
                    </tr>
                }
                
            </tbody> -->
            <!-- <tbody>
            @for (item of userList$ |async; track $index) {
                <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.emailId}}</td>
                   
                </tr>
            }
            
        </tbody>  -->
        <!-- <ng-container *ngIf="(userListResposne$ |async) as apiResonse">
            <label>Name</label>
            <label for=""> {{apiResonse.name}}</label>
            <label>Emial</label>
            <label for="">{{apiResonse.name}}</label>
            <label>Name</label>
            <label for=""> {{apiResonse.name}}</label>
        </ng-container> -->
      
        <tbody>
            
            <ng-container *ngIf="(userListResposne$ |async) as apiResonse"> 
                @for (item of apiResonse.data; track $index) {
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.fullName}}</td>
                        <td>{{item.emailId}}</td>
                    </tr>
                }
            </ng-container>
            
            
        </tbody> 
        </table>
    </div>
</div>

<button onclick="onBtnExport()">Download CSV export file</button>
 <!-- The AG Grid component -->
 <ag-grid-angular class="ag-theme-alpine" style="height: 500px; width: 100%;"
 [rowData]="rowData"
 [columnDefs]="colDefs" 
 [defaultColDef]="defaultColDe"
  />

  <!-- <p id="a1" style="color: red;">Ng style check</p> -->
  <!-- <p id="a1" [style.color]="'red'" >Ng style check</p> -->
  <!-- <p id="a1" [ngStyle]="onP" >Ng style check</p> -->
  <!-- <p id="a1" [ngStyle]="getStyle()" >Ng style check</p> -->
  <p #a1 >Ng style check</p>



