<div class="container mt-5">
    <h2 class="mb-4">Project Form</h2>
    <form [formGroup]="newJobForm" (ngSubmit)="onSave()">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text"   formControlName="title" class="form-control" id="title" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <p-editor formControlName="description" [style]="{ height: '320px' }" />
            <!-- <textarea formControlName="description" class="form-control" id="description" rows="3" required></textarea> -->
        </div>
        <div class="mb-3">
            <label for="budget" class="form-label">Budget</label>
            <input type="number" formControlName="budget" class="form-control" id="budget" required>
        </div>
        <div class="mb-3">
            <label for="deadline" class="form-label">Deadline</label>
            <p-datepicker formControlName="deadline" />
             
        </div>
        <div class="mb-3">
            <label for="skillsRequired" class="form-label">Skills Required</label>
            <input type="text" formControlName="skillsRequired" class="form-control" id="skillsRequired" required>
        </div> 
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


